---
http_interactions:
- request:
    method: get
    uri: https://beta.openphacts.org/1.3/structure/similarity?_format=json&app_id=secret_id&app_key=secret_key&resultOptions.Count=5&searchOptions.Molecule=CC(=O)Oc1ccccc1C(=O)O&searchOptions.Threshold=0.9
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 11 Nov 2013 07:31:06 GMT
      X-Served-From-Cache:
      - 'false'
      Etag:
      - e8aab93a771752d2bd58f1496eb71f0c
      X-3scale-Proxy-Secret-Token:
      - Shared_secret_sent_from_proxy_to_API_backend
    body:
      encoding: US-ASCII
      string: ! '{"format":"linked-data-api","version":"1.3","result":{"_about":"https://beta.openphacts.org/structure/similarity?resultOptions.Count=5&searchOptions.Threshold=0.9&searchOptions.Molecule=CC%28%3DO%29Oc1ccccc1C%28%3DO%29O&_format=json&app_id=secret_id&app_key=secret_key","definition":"https://beta.openphacts.org/api-config","extendedMetadataVersion":"https://beta.openphacts.org/structure/similarity?resultOptions.Count=5&searchOptions.Threshold=0.9&searchOptions.Molecule=CC%28%3DO%29Oc1ccccc1C%28%3DO%29O&_format=json&app_id=secret_id&app_key=secret_key&_metadata=all%2Cviews%2Cformats%2Cexecution%2Cbindings%2Csite","primaryTopic":{"_about":"http://www.openphacts.org/api/ChemicalStructureSearch","result":[{"_about":"http://ops.rsc.org/OPS2954","relevance":1},{"_about":"http://ops.rsc.org/OPS28298","relevance":1},{"_about":"http://ops.rsc.org/OPS4291","relevance":0.97727274894714},{"_about":"http://ops.rsc.org/OPS18084","relevance":0.97727274894714},{"_about":"http://ops.rsc.org/OPS324814","relevance":0.97727274894714}],"Count":"5","Molecule":"CC(=O)Oc1ccccc1C(=O)O","Threshold":"0.9","type":"http://www.openphacts.org/api/SimilaritySearch","isPrimaryTopicOf":"https://beta.openphacts.org/structure/similarity?resultOptions.Count=5&searchOptions.Threshold=0.9&searchOptions.Molecule=CC%28%3DO%29Oc1ccccc1C%28%3DO%29O&_format=json&app_id=secret_id&app_key=secret_key"}}}'
  recorded_at: Mon, 11 Nov 2013 07:31:09 GMT
recorded_with: VCR 2.2.5
