---
http_interactions:
- request:
    method: get
    uri: https://beta.openphacts.org/structure/similarity?_format=json&app_id=secret_id&app_key=secret_key&resultOptions.Limit=5&searchOptions.Molecule=CCCC
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 29 Aug 2013 11:17:50 GMT
      Etag:
      - 13c36f2dd626515ccc1d4f9a632db66d
      X-Served-From-Cache:
      - 'true'
      X-3scale-Proxy-Secret-Token:
      - Shared_secret_sent_from_proxy_to_API_backend
    body:
      encoding: US-ASCII
      string: ! '{"format":"linked-data-api","version":"0.2","result":{"_about":"https://beta.openphacts.org/structure/similarity?resultOptions.Limit=5&searchOptions.Molecule=CCCC&_format=json&app_id=secret_id&app_key=secret_key","definition":"https://beta.openphacts.org/api-config","extendedMetadataVersion":"https://beta.openphacts.org/structure/similarity?resultOptions.Limit=5&searchOptions.Molecule=CCCC&_format=json&app_id=secret_id&app_key=secret_key&_metadata=all%2Cviews%2Cformats%2Cexecution%2Cbindings%2Csite","primaryTopic":{"result":["http://rdf.chemspider.com/349","http://rdf.chemspider.com/350","http://rdf.chemspider.com/347","http://rdf.chemspider.com/348","http://rdf.chemspider.com/352"],"Limit":"5","Molecule":"CCCC","type":"SimilaritySearch","isPrimaryTopicOf":"https://beta.openphacts.org/structure/similarity?resultOptions.Limit=5&searchOptions.Molecule=CCCC&_format=json&app_id=secret_id&app_key=secret_key"}}}'
  recorded_at: Thu, 29 Aug 2013 12:18:46 GMT
recorded_with: VCR 2.2.5
