---
http_interactions:
- request:
    method: get
    uri: https://beta.openphacts.org/1.4/structure/exact?_format=json&app_id=secret_id&app_key=secret_key&searchOptions.Molecule=CC(=O)Oc1ccccc1C(=O)O
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 14 Oct 2014 10:26:56 GMT
      Etag:
      - 28a73deed788e9e1dafa477ead909035
      X-Served-From-Cache:
      - 'true'
      X-3scale-Proxy-Secret-Token:
      - Shared_secret_sent_from_proxy_to_API_backend
    body:
      encoding: US-ASCII
      string: ! '{"format":"linked-data-api","version":"1.4","result":{"_about":"https://beta.openphacts.org/1.4/structure/exact?searchOptions.Molecule=CC%28%3DO%29Oc1ccccc1C%28%3DO%29O&_format=json&app_id=secret_id&app_key=secret_key","definition":"https://beta.openphacts.org/api-config","extendedMetadataVersion":"https://beta.openphacts.org/1.4/structure/exact?searchOptions.Molecule=CC%28%3DO%29Oc1ccccc1C%28%3DO%29O&_format=json&app_id=secret_id&app_key=secret_key&_metadata=all%2Cviews%2Cformats%2Cexecution%2Cbindings%2Csite","primaryTopic":{"_about":"http://www.openphacts.org/api/ChemicalStructureSearch","result":"http://ops.rsc.org/OPS403534","Molecule":"CC(=O)Oc1ccccc1C(=O)O","type":"http://www.openphacts.org/api/ExactStructureSearch","isPrimaryTopicOf":"https://beta.openphacts.org/1.4/structure/exact?searchOptions.Molecule=CC%28%3DO%29Oc1ccccc1C%28%3DO%29O&_format=json&app_id=secret_id&app_key=secret_key"}}}'
  recorded_at: Tue, 14 Oct 2014 10:26:58 GMT
recorded_with: VCR 2.9.0
