---
http_interactions:
- request:
    method: get
    uri: https://beta.openphacts.org/1.3/structure/substructure?_format=json&app_id=secret_id&app_key=secret_key&resultOptions.Count=5&searchOptions.MolType=0&searchOptions.Molecule=CC(=O)Oc1ccccc1C(=O)O
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 26 Mar 2014 08:11:43 GMT
      X-Served-From-Cache:
      - 'false'
      Etag:
      - 7a908eccb339ce9bf7c95d3388d6d688
      X-3scale-Proxy-Secret-Token:
      - Shared_secret_sent_from_proxy_to_API_backend
    body:
      encoding: US-ASCII
      string: ! '{"format":"linked-data-api","version":"1.3","result":{"_about":"https://beta.openphacts.org/1.3/structure/substructure?resultOptions.Count=5&searchOptions.Molecule=CC%28%3DO%29Oc1ccccc1C%28%3DO%29O&searchOptions.MolType=0&_format=json&app_id=secret_id&app_key=secret_key","definition":"https://beta.openphacts.org/api-config","extendedMetadataVersion":"https://beta.openphacts.org/1.3/structure/substructure?resultOptions.Count=5&searchOptions.Molecule=CC%28%3DO%29Oc1ccccc1C%28%3DO%29O&searchOptions.MolType=0&_format=json&app_id=secret_id&app_key=secret_key&_metadata=all%2Cviews%2Cformats%2Cexecution%2Cbindings%2Csite","primaryTopic":{"_about":"http://www.openphacts.org/api/ChemicalStructureSearch","result":[{"_about":"http://ops.rsc.org/OPS403534","relevance":1},{"_about":"http://ops.rsc.org/OPS666650","relevance":1},{"_about":"http://ops.rsc.org/OPS1056157","relevance":1},{"_about":"http://ops.rsc.org/OPS684682","relevance":0.97727274894714},{"_about":"http://ops.rsc.org/OPS1522274","relevance":0.97727274894714}],"Count":"5","MolType":"0","Molecule":"CC(=O)Oc1ccccc1C(=O)O","type":"http://www.openphacts.org/api/SubstructureSearch","isPrimaryTopicOf":"https://beta.openphacts.org/1.3/structure/substructure?resultOptions.Count=5&searchOptions.Molecule=CC%28%3DO%29Oc1ccccc1C%28%3DO%29O&searchOptions.MolType=0&_format=json&app_id=secret_id&app_key=secret_key"}}}'
  recorded_at: Wed, 26 Mar 2014 08:11:47 GMT
recorded_with: VCR 2.8.0
