---
http_interactions:
- request:
    method: get
    uri: https://beta.openphacts.org/structure/substructure?_format=json&app_id=secret_id&app_key=secret_key&resultOptions.Limit=5&searchOptions.Molecule=CCCC
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 29 Aug 2013 11:19:52 GMT
      Etag:
      - 8ceab2d006fa1af2f6930a29067d2cf8
      X-Served-From-Cache:
      - 'true'
      X-3scale-Proxy-Secret-Token:
      - Shared_secret_sent_from_proxy_to_API_backend
    body:
      encoding: US-ASCII
      string: ! '{"format":"linked-data-api","version":"0.2","result":{"_about":"https://beta.openphacts.org/structure/substructure?resultOptions.Limit=5&searchOptions.Molecule=CCCC&_format=json&app_id=secret_id&app_key=secret_key","definition":"https://beta.openphacts.org/api-config","extendedMetadataVersion":"https://beta.openphacts.org/structure/substructure?resultOptions.Limit=5&searchOptions.Molecule=CCCC&_format=json&app_id=secret_id&app_key=secret_key&_metadata=all%2Cviews%2Cformats%2Cexecution%2Cbindings%2Csite","primaryTopic":{"result":["http://rdf.chemspider.com/349","http://rdf.chemspider.com/360","http://rdf.chemspider.com/347","http://rdf.chemspider.com/354","http://rdf.chemspider.com/355"],"Limit":"5","Molecule":"CCCC","type":"SubstructureSearch","isPrimaryTopicOf":"https://beta.openphacts.org/structure/substructure?resultOptions.Limit=5&searchOptions.Molecule=CCCC&_format=json&app_id=secret_id&app_key=secret_key"}}}'
  recorded_at: Thu, 29 Aug 2013 12:18:48 GMT
recorded_with: VCR 2.2.5
