---
http_interactions:
- request:
    method: get
    uri: https://beta.openphacts.org/1.3/compound/pharmacology/pages?_format=json&_pageSize=all&app_id=secret_id&app_key=secret_key&uri=http://ops.rsc.org/OPS3
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 11 Nov 2013 07:22:45 GMT
      X-Served-From-Cache:
      - 'false'
      Etag:
      - eb413879f4180674e5fdb4b62a7071c2
      X-3scale-Proxy-Secret-Token:
      - Shared_secret_sent_from_proxy_to_API_backend
    body:
      encoding: US-ASCII
      string: ! '{"format":"linked-data-api","version":"1.3","result":{"_about":"https://beta.openphacts.org/compound/pharmacology/pages?_pageSize=all&uri=http%3A%2F%2Fops.rsc.org%2FOPS3&_format=json&app_id=secret_id&app_key=secret_key&_page=1","itemsPerPage":"all","startIndex":0,"isPartOf":{"_about":"https://beta.openphacts.org/compound/pharmacology/pages?_pageSize=all&uri=http%3A%2F%2Fops.rsc.org%2FOPS3&_format=json&app_id=secret_id&app_key=secret_key","hasPart":"https://beta.openphacts.org/compound/pharmacology/pages?_pageSize=all&uri=http%3A%2F%2Fops.rsc.org%2FOPS3&_format=json&app_id=secret_id&app_key=secret_key&_page=1","definition":"http://www.openphacts.org/api#compoundPharmacologyListEndpoint","type":"http://purl.org/linked-data/api/vocab#List"},"modified":"Monday,
        11-Nov-13 07:22:46 UTC","extendedMetadataVersion":"https://beta.openphacts.org/compound/pharmacology/pages?_pageSize=all&uri=http%3A%2F%2Fops.rsc.org%2FOPS3&_format=json&app_id=secret_id&app_key=secret_key&_metadata=all%2Cviews%2Cformats%2Cexecution%2Cbindings%2Csite","items":[{"_about":"http://rdf.ebi.ac.uk/resource/chembl/activity/CHEMBL_ACT_8013130","pmid":"http://identifiers.org/pubmed/22136433","activityComment":"Not
        Active","hasAssay":{"_about":"http://rdf.ebi.ac.uk/resource/chembl/assay/CHEMBL1948137","description":"Inhibition
        of PDGFRalpha using ATP as substrate","hasTarget":{"_about":"http://rdf.ebi.ac.uk/resource/chembl/target/CHEMBL2007","title":"Platelet-derived
        growth factor receptor alpha ","hasTargetComponent":{"_about":"http://rdf.ebi.ac.uk/resource/chembl/targetcomponent/CHEMBL_TC_338","exactMatch":{"_about":"http://www.conceptwiki.org/concept/6cb7c499-3fac-40e3-bc09-59cdc5ff0bce","inDataset":"http://www.conceptwiki.org","prefLabel_en":"Platelet-derived
        growth factor receptor alpha (Homo sapiens)","prefLabel":"Platelet-derived
        growth factor receptor alpha (Homo sapiens)"}},"targetOrganismName":"Homo
        sapiens","inDataset":"http://www.ebi.ac.uk/chembl","type":"http://rdf.ebi.ac.uk/terms/chembl#SingleProtein"},"inDataset":"http://www.ebi.ac.uk/chembl"},"hasMolecule":{"_about":"http://rdf.ebi.ac.uk/resource/chembl/molecule/CHEMBL1945556","inDataset":"http://www.ebi.ac.uk/chembl","exactMatch":[{"_about":"http://ops.rsc.org/OPS3","inDataset":"http://ops.rsc.org","inchi":"InChI=1S/C18H18Cl2N4O/c1-23-7-5-18(6-8-23)11(9-21)13-10-3-4-12(19)14(20)15(10)24(2)16(13)17(25)22-18/h3-4,11H,5-8H2,1-2H3,(H,22,25)","inchikey":"XGUIMGJMQKZRGM-UHFFFAOYSA-N","molweight":377.268,"ro5_violations":0,"smiles":"CN1CCC2(CC1)C(C3=C(C(=O)N2)N(C4=C3C=CC(=C4Cl)Cl)C)C#N"},{"_about":"http://www.conceptwiki.org/concept/3ab638be-f601-4ad7-875f-c954ad76a826","inDataset":"http://www.conceptwiki.org","prefLabel_en":"7,8-Dichloro-1'',9-dimethyl-1-oxo-1,2,4,9-tetrahydrospiro[beta-carboline-3,4''-piperidine]-4-carbonitrile","prefLabel":"7,8-Dichloro-1'',9-dimethyl-1-oxo-1,2,4,9-tetrahydrospiro[beta-carboline-3,4''-piperidine]-4-carbonitrile"}]},"publishedType":"INH","activity_type":"Inhibition","inDataset":"http://www.ebi.ac.uk/chembl"},{"_about":"http://rdf.ebi.ac.uk/resource/chembl/activity/CHEMBL_ACT_8013131","pmid":"http://identifiers.org/pubmed/22136433","activityComment":"Not
        Active","hasAssay":{"_about":"http://rdf.ebi.ac.uk/resource/chembl/assay/CHEMBL1947844","description":"Inhibition
        of cKIT using ATP as substrate","hasTarget":{"_about":"http://rdf.ebi.ac.uk/resource/chembl/target/CHEMBL1936","title":"Stem
        cell growth factor receptor","has[...]
