---
http_interactions:
- request:
    method: get
    uri: https://beta.openphacts.org/1.4/target?_format=json&app_id=secret_id&app_key=secret_key&uri=http://www.conceptwiki.org/concept/00059958-a045-4581-9dc5-e5a08bb0c291
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 14 Oct 2014 09:52:24 GMT
      X-Served-From-Cache:
      - 'false'
      Etag:
      - c43b4edb46e1eafd8aa64d6411bfe1dd
      X-3scale-Proxy-Secret-Token:
      - Shared_secret_sent_from_proxy_to_API_backend
    body:
      encoding: US-ASCII
      string: ! '{"format":"linked-data-api","version":"1.4","result":{"_about":"https://beta.openphacts.org/1.4/target?uri=http%3A%2F%2Fwww.conceptwiki.org%2Fconcept%2F00059958-a045-4581-9dc5-e5a08bb0c291&_format=json&app_id=secret_id&app_key=secret_key","definition":"https://beta.openphacts.org/api-config","extendedMetadataVersion":"https://beta.openphacts.org/1.4/target?uri=http%3A%2F%2Fwww.conceptwiki.org%2Fconcept%2F00059958-a045-4581-9dc5-e5a08bb0c291&_format=json&app_id=secret_id&app_key=secret_key&_metadata=all%2Cviews%2Cformats%2Cexecution%2Cbindings%2Csite","primaryTopic":{"_about":"http://www.conceptwiki.org/concept/00059958-a045-4581-9dc5-e5a08bb0c291","inDataset":"http://www.conceptwiki.org","exactMatch":[{"_about":"http://www4.wiwiss.fu-berlin.de/drugbank/resource/targets/198","inDataset":"http://linkedlifedata.com/resource/drugbank","targetForDrug":[{"_about":"http://www4.wiwiss.fu-berlin.de/drugbank/resource/drugs/DB00807","inDataset":"http://linkedlifedata.com/resource/drugbank","drug_type":["smallMolecule","approved"],"genericName":"Proparacaine"},{"_about":"http://www4.wiwiss.fu-berlin.de/drugbank/resource/drugs/DB00297","inDataset":"http://linkedlifedata.com/resource/drugbank","drug_type":["approved","smallMolecule","investigational"],"genericName":"Bupivacaine"},{"_about":"http://www4.wiwiss.fu-berlin.de/drugbank/resource/drugs/DB00296","inDataset":"http://linkedlifedata.com/resource/drugbank","drug_type":["approved","smallMolecule"],"genericName":"Ropivacaine"},{"_about":"http://www4.wiwiss.fu-berlin.de/drugbank/resour[...]
