---
http_interactions:
- request:
    method: get
    uri: https://xxxxxx.openphacts.org/target?_format=json&app_id=secret_id&app_key=secret_key&uri=http://www.conceptwiki.org/concept/00059958-a045-4581-9dc5-e5a08bb0c291
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 15 Apr 2013 10:04:41 GMT
      Etag:
      - 6511d47a4c4e4f42bf59f4af72d32780
      X-Served-From-Cache:
      - 'true'
      X-3scale-Proxy-Secret-Token:
      - Shared_secret_sent_from_proxy_to_API_backend
    body:
      encoding: US-ASCII
      string: ! '{"format":"linked-data-api","version":"0.2","result":{"_about":"http://xxxxxx.openphacts.org/target?uri=http%3A%2F%2Fwww.conceptwiki.org%2Fconcept%2F00059958-a045-4581-9dc5-e5a08bb0c291&_format=json&app_id=secret_id&app_key=secret_key","definition":"http://xxxxxx.openphacts.org/api-config","extendedMetadataVersion":"http://xxxxxx.openphacts.org/target?uri=http%3A%2F%2Fwww.conceptwiki.org%2Fconcept%2F00059958-a045-4581-9dc5-e5a08bb0c291&_format=json&app_id=secret_id&app_key=secret_key&_metadata=all%2Cviews%2Cformats%2Cexecution%2Cbindings%2Csite","primaryTopic":{"_about":"http://www.conceptwiki.org/concept/00059958-a045-4581-9dc5-e5a08bb0c291","inDataset":"http://www.conceptwiki.org","exactMatch":[{"_about":"http://www4.wiwiss.fu-berlin.de/drugbank/resource/targets/198","inDataset":"http://linkedlifedata.com/resource/drugbank","cellularLocation":["membrane","multi-passMembraneProtein.ItCanBeTranslocatedToTheExtracellularMembraneThrough"],"molecularWeight":"220568","numberOfResidues":"1988","theoreticalPi":"5.77"},{"_about":"http://data.kasabi.com/dataset/chembl-rdf/chemblid/CHEMBL5451","description":"Sodium
        channel protein type 10 subunit alpha","keyword":["Sodium channel","Ionic
        channel","Reference proteome","Polymorphism","Transport","Sodium transport","Voltage-gated
        channel","Glycoprotein","Repeat","Ion transport","Sodium","Ubl conjugation","Transmembrane
        helix","Transmembrane","Complete proteome","Membrane"],"inDataset":"http://data.kasabi.com/dataset/chembl-rdf","subClassOf":"http://purl.obolibrary.org/obo#PR_000000001"},{"_about":"http://purl.uniprot.org/uniprot/Q9Y5Y9","Function_Annotation":"This
        protein mediates the voltage-dependent sodium ion permeability of excitable
        membranes. Assuming opened or closed conformations in response to the voltage
        difference across the membrane, the protein forms a sodium-selective channel
        through which sodium ions may pass in accordance with their electrochemical
        gradient. It is a tetrodotoxin-resistant sodium channel isoform. Its electrophysiological
        properties vary depending on the type of the associated beta subunits (in
        vitro). Plays a role in neuropathic pain mechanisms (By similarity).","alternativeName":["Voltage-gated
        sodium channel subunit alpha Nav1.8","Sodium channel protein type X subunit
        alpha","Peripheral nerve sodium channel 3"],"classifiedWith":["http://purl.uniprot.org/go/0001518","http://purl.uniprot.org/go/0035725","http://purl.uniprot.org/go/0005248","http://purl.uniprot.org/keywords/325","http://purl.uniprot.org/keywords/851","http://purl.uniprot.org/keywords/894","http://purl.uniprot.org/go/0044299","http://purl.uniprot.org/go/0007600","http://purl.uniprot.org/keywords/677","http://purl.uniprot.org/keywords/621","http://purl.uniprot.org/keywords/1133","http://purl.uniprot.org/keywords/1185","http://purl.uniprot.org/keywords/832"],"existence":"http://purl.uniprot.org/core/Evidence_at_Protein_Level_Existence","organism":"http://purl.uniprot.org/taxonomy/9606","sequence":"MEFPIGSLETNNFRRFTPESLVEIEKQIAAKQGTKKAREKHREQKDQEEKPRPQLDLKACNQLPKFYGELPAELIGEPLEDLDPFYSTHRTFMVLNKGRTISRFSATRALWLFSPFNLIRRTAIKVSVHSWFSLFITVTILVNCVCMTRTDLPEKIEYVFTVIYTFEALIKILARGFCLNEFTYLRDPWNWLDFSVITLAYVGTAIDLRGISGLRTFRVLRALKTVSVIPGLKVIVGALIHSVKKLADVTILTIFCLSVFALVGLQLFKGNLKNKCVKNDMAVNETTNYSSHRKPDIYINKRGTSDPLLCGNGSDSGHCPDGYICLKTSDNPDFNYTSFDSFAWAFLSLFRLMTQDSWERLYQQTLRTSGKIYMIFFVLVIFLGSFYLVNLILAVVTMAYEEQNQATTDEIEAKEKKFQEALEMLRKEQEVLAALGIDTTSLHSHNGSPLTSKNASERRHRIKPRVSEGSTEDNKSPRSDPYNQRRMSFLGLASGKRRA[...]
