---
http_interactions:
- request:
    method: get
    uri: https://beta.openphacts.org/1.3/target?_format=json&app_id=secret_id&app_key=secret_key&uri=http://www.conceptwiki.org/concept/00059958-a045-4581-9dc5-e5a08bb0c291
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 11 Nov 2013 07:22:54 GMT
      X-Served-From-Cache:
      - 'false'
      Etag:
      - 047e35a7f320d3401c0ef3f5f6ead270
      X-3scale-Proxy-Secret-Token:
      - Shared_secret_sent_from_proxy_to_API_backend
    body:
      encoding: US-ASCII
      string: ! '{"format":"linked-data-api","version":"1.3","result":{"_about":"https://beta.openphacts.org/target?uri=http%3A%2F%2Fwww.conceptwiki.org%2Fconcept%2F00059958-a045-4581-9dc5-e5a08bb0c291&_format=json&app_id=secret_id&app_key=secret_key","definition":"https://beta.openphacts.org/api-config","extendedMetadataVersion":"https://beta.openphacts.org/target?uri=http%3A%2F%2Fwww.conceptwiki.org%2Fconcept%2F00059958-a045-4581-9dc5-e5a08bb0c291&_format=json&app_id=secret_id&app_key=secret_key&_metadata=all%2Cviews%2Cformats%2Cexecution%2Cbindings%2Csite","primaryTopic":{"_about":"http://www.conceptwiki.org/concept/00059958-a045-4581-9dc5-e5a08bb0c291","inDataset":"http://www.conceptwiki.org","exactMatch":["http://www.conceptwiki.org/concept/00059958-a045-4581-9dc5-e5a08bb0c291",{"_about":"http://purl.uniprot.org/uniprot/Q9Y5Y9","Function_Annotation":"This
        protein mediates the voltage-dependent sodium ion permeability of excitable
        membranes. Assuming opened or closed conformations in response to the voltage
        difference across the membrane, the protein forms a sodium-selective channel
        through which sodium ions may pass in accordance with their electrochemical
        gradient. It is a tetrodotoxin-resistant sodium channel isoform. Its electrophysiological
        properties vary depending on the type of the associated beta subunits (in
        vitro). Plays a role in neuropathic pain mechanisms (By similarity).","alternativeName":["Peripheral
        nerve sodium channel 3","Voltage-gated sodium channel subunit alpha Nav1.8","Sodium
        channel protein type X subunit alpha"],"classifiedWith":["http://purl.uniprot.org/keywords/677","http://purl.uniprot.org/keywords/832","http://purl.uniprot.org/go/0071439","http://purl.uniprot.org/keywords/894","http://purl.uniprot.org/keywords/1133","http://purl.uniprot.org/keywords/1185","http://purl.uniprot.org/go/0002027","http://purl.uniprot.org/go/0086067","http://purl.uniprot.org/go/0086069","http://purl.uniprot.org/keywords/325","http://purl.uniprot.org/go/0019233","http://purl.uniprot.org/go/0042475","http://purl.uniprot.org/go/0060371","http://purl.uniprot.org/keywords/851","http://purl.uniprot.org/keywords/621","http://purl.uniprot.org/go/0001518","http://purl.uniprot.org/go/0005248","http://purl.uniprot.org/go/0055117","http://purl.uniprot.org/go/0007600"],"existence":"http://purl.uniprot.org/core/Evidence_at_Protein_Level_Existence","organism":"http://purl.uniprot.org/taxonomy/9606","inDataset":"http://purl.uniprot.org"},{"_about":"http://www4.wiwiss.fu-berlin.de/drugbank/resource/targets/198","inDataset":"http://linkedlifedata.com/resource/drugbank","cellularLocation":["membrane","multi-passMembraneProtein.ItCanBeTranslocatedToTheExtracellularMembraneThrough"],"numberOfResidues":"1988","theoreticalPi":"5.77"},{"_about":"http://rdf.ebi.ac.uk/resource/chembl/target/CHEMBL5451","hasTargetComponent":{"_about":"http://rdf.ebi.ac.uk/resource/chembl/targetcomponent/CHEMBL_TC_3744","description":"Sodium
        channel protein type 10 subunit alpha","inDataset":"http://www.ebi.ac.uk/chembl"},"inDataset":"http://www.ebi.ac.uk/chembl","type":"http://rdf.ebi.ac.uk/terms/chembl#SingleProtein","label":"Sodium
        channel protein type X alpha subunit"}],"prefLabel_en":"Sodium channel protein
        type 10 subunit alpha (Homo sapiens)","prefLabel":"Sodium channel protein
        type 10 subunit alpha (Homo sapiens)","isPrimaryTopicOf":"https://beta.openphacts.org/target?uri=http%3A%2F%2Fwww.conceptwiki.org%2Fconcept%2F00059958-a045-4581-9dc5-e5a08bb0c291&_format=json&app_id=secret_id&app_key=secret_key"}}}'
  recorded_at: Mon, 11 Nov 2013 07:30:43 GMT
recorded_with: VCR 2.2.5
