---
http_interactions:
- request:
    method: get
    uri: https://beta.openphacts.org/1.4/target/pharmacology/pages?_format=json&_pageSize=all&app_id=secret_id&app_key=secret_key&uri=http://www.conceptwiki.org/concept/00059958-a045-4581-9dc5-e5a08bb0c291
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 14 Oct 2014 09:52:27 GMT
      Etag:
      - 9209c9fa3ba82a712acca9548c84f725
      X-Served-From-Cache:
      - 'true'
      X-3scale-Proxy-Secret-Token:
      - Shared_secret_sent_from_proxy_to_API_backend
    body:
      encoding: US-ASCII
      string: ! '{"format":"linked-data-api","version":"1.4","result":{"_about":"https://beta.openphacts.org/1.4/target/pharmacology/pages?_pageSize=all&uri=http%3A%2F%2Fwww.conceptwiki.org%2Fconcept%2F00059958-a045-4581-9dc5-e5a08bb0c291&_format=json&app_id=secret_id&app_key=secret_key&_page=1","itemsPerPage":"all","startIndex":0,"isPartOf":{"_about":"https://beta.openphacts.org/1.4/target/pharmacology/pages?_pageSize=all&uri=http%3A%2F%2Fwww.conceptwiki.org%2Fconcept%2F00059958-a045-4581-9dc5-e5a08bb0c291&_format=json&app_id=secret_id&app_key=secret_key","hasPart":"https://beta.openphacts.org/1.4/target/pharmacology/pages?_pageSize=all&uri=http%3A%2F%2Fwww.conceptwiki.org%2Fconcept%2F00059958-a045-4581-9dc5-e5a08bb0c291&_format=json&app_id=secret_id&app_key=secret_key&_page=1","definition":"http://www.openphacts.org/api#targetPharmacologyListEndpoint","type":"http://purl.org/linked-data/api/vocab#List"},"modified":"Tuesday,
        14-Oct-14 09:52:27 UTC","extendedMetadataVersion":"https://beta.openphacts.org/1.4/target/pharmacology/pages?_pageSize=all&uri=http%3A%2F%2Fwww.conceptwiki.org%2Fconcept%2F00059958-a045-4581-9dc5-e5a08bb0c291&_format=json&app_id=secret_id&app_key=secret_key&_metadata=all%2Cviews%2Cformats%2Cexecution%2Cbindings%2Csite","items":[{"_about":"http://rdf.ebi.ac.uk/resource/chembl/activity/CHEMBL_ACT_1985117","pmid":"http://identifiers.org/pubmed/17804230","hasAssay":{"_about":"http://rdf.ebi.ac.uk/resource/chembl/assay/CHEMBL899665","description":"Inhibition
        of sodium channel NaV1.8 at 20 ug/mL by HTS assay","assayOrganismName":"Homo
        sapiens","hasTarget":{"_about":"http://rdf.ebi.ac.uk/resource/chembl/target/CHEMBL5451","title":"Sodium
        channel protein type X alpha subunit","hasTargetComponent":{"_about":"http://rdf.ebi.ac.uk/resource/chembl/targetcomponent/CHEMBL_TC_3744","exactMatch":{"_about":"http://www.conceptwiki.org/concept/00059958-a045-4581-9dc5-e5a08bb0c291","inDataset":"http://www.conceptwiki.org","prefLabel_en":"Sodium
        channel protein type 10 subunit alpha (Homo sapiens)","prefLabel":"Sodium
        channel protein type 10 subunit alpha (Homo sapiens)"}},"targetOrganismName":"Homo
        sapiens","inDataset":"http://www.ebi.ac.uk/chembl","type":"http://rdf.ebi.ac.uk/terms/chembl#SingleProtein"},"inDataset":"http://www.ebi.ac.uk/chembl"},"hasMolecule":{"_about":"http://rdf.ebi.ac.uk/resource/chembl/molecule/CHEMBL1162028","exactMatch":[{"_about":"http://ops.rsc.org/OPS1340718","inDataset":"http://ops.rsc.org","inchi":"InChI=1S/C61H102O30S/c1-23(2)11-10-16-61(9,75)36-13-12-30-29-20-34(32-19-28(91-92(76,77)78)14-17-59(32,7)31(29)15-18-60(30,36)8)85-56-48(74)50(39(65)26(5)83-56)88-57-51(89-54-45(71)42(68)37(63)24(3)81-54)41(67)35(22-80-57)86-58-52(90-55-46(72)43(69)38(64)25(4)82-55)47(73)49(27(6)84-58)87-53-44(70)40(66)33(62)21-79-53/h15,23-30,32-58,62-75H,10-14,16-22H2,1-9H3,(H,76,77,78)/t24-,25-,26-,27-,28+,29+,30+,32-,33+,34+,35-,36+,37-,38+,39-,40+,41+,42+,43+,44-,45-,46-,47+,48-,49-,50+,51-,52-,53+,54+,55+,56+,57+,58+,59-,60+,61-/m1/s1","inchikey":"YGJYYDTWXBCDRA-MIRNQWDESA-N","molweight":1347.51,"ro5_violations":4,"smiles":"C[C@@H]1[C@H]([C@@H]([C@H]([C@@H](O1)O[C@@H]2[C@H]([C@@H](CO[C@H]2O[C@H]3[C@@H]([C@H](O[C@H]([C@@H]3O)O[C@H]4C[C@H]5[C@@H]6CC[C@@H]([C@]6(CC=C5[C@@]7([C@@H]4C[C@H](CC7)OS(=O)(=O)O)C)C)[C@@](C)(CCCC(C)C)O)C)O)O[C@H]8[C@@H]([C@H]([C@@H]([C@H](O8)C)O[C@H]9[C@@H]([C@H]([C@H](CO9)O)O)O)O)O[C@H]1[C@@H]([C@H]([C@H]([C@H](O1)C)O)O)O)O)O)O)O"},{"_about":"http://www.conceptwiki.org/concept/f306f83a-132a-4bba-9914-a3cbd191d552","inDataset":"http://www.conceptwiki.org","prefLabel_en":"[(3S,5S,6S,8S,10S,13S[...]
