---
http_interactions:
- request:
    method: get
    uri: https://beta.openphacts.org/1.3/compound?_format=json&app_id=secret_id&app_key=secret_key&uri=http://ops.rsc.org/OPS3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 26 Mar 2014 08:11:18 GMT
      X-Served-From-Cache:
      - 'false'
      Etag:
      - 1d49db795d002b4f27025c51aa0b8dda
      X-3scale-Proxy-Secret-Token:
      - Shared_secret_sent_from_proxy_to_API_backend
    body:
      encoding: US-ASCII
      string: ! '{"format":"linked-data-api","version":"1.3","result":{"_about":"https://beta.openphacts.org/1.3/compound?uri=http%3A%2F%2Fops.rsc.org%2FOPS3&_format=json&app_id=secret_id&app_key=secret_key","definition":"https://beta.openphacts.org/api-config","extendedMetadataVersion":"https://beta.openphacts.org/1.3/compound?uri=http%3A%2F%2Fops.rsc.org%2FOPS3&_format=json&app_id=secret_id&app_key=secret_key&_metadata=all%2Cviews%2Cformats%2Cexecution%2Cbindings%2Csite","primaryTopic":{"_about":"http://ops.rsc.org/OPS3","inDataset":"http://ops.rsc.org","hba":9,"hbd":6,"inchi":"InChI=1S/C21H24O9/c1-28-16-5-4-11(8-15(16)24)2-3-12-6-13(23)9-14(7-12)29-21-20(27)19(26)18(25)17(10-22)30-21/h2-9,17-27H,10H2,1H3/b3-2+","inchikey":"GKAJCVFOJGXVIA-NSCUHMNNSA-N","logp":0.684,"molformula":"C21H24O9","molweight":420.41,"psa":149.07,"ro5_violations":1,"rtb":12,"smiles":"COC1=C(C=C(C=C1)/C=C/C2=CC(=CC(=C2)OC3C(C(C(C(O3)CO)O)O)O)O)O","exactMatch":[{"_about":"http://rdf.ebi.ac.uk/resource/chembl/molecule/CHEMBL1987358","mw_freebase":420.41,"inDataset":"http://www.ebi.ac.uk/chembl","type":"http://rdf.ebi.ac.uk/terms/chembl#SmallMolecule"},{"_about":"http://www.conceptwiki.org/concept/a371d2ba-4c32-4fad-99dc-3b1d5357d29d","inDataset":"http://www.conceptwiki.org","prefLabel_en":"3-Hydroxy-5-[(E)-2-(3-hydroxy-4-methoxyphenyl)vinyl]phenyl
        hexopyranoside","prefLabel":"3-Hydroxy-5-[(E)-2-(3-hydroxy-4-methoxyphenyl)vinyl]phenyl
        hexopyranoside"},"http://ops.rsc.org/OPS3"],"isPrimaryTopicOf":"https://beta.openphacts.org/1.3/compound?uri=http%3A%2F%2Fops.rsc.org%2FOPS3&_format=json&app_id=secret_id&app_key=secret_key"}}}'
  recorded_at: Wed, 26 Mar 2014 08:11:19 GMT
recorded_with: VCR 2.8.0
