---
http_interactions:
- request:
    method: get
    uri: https://beta.openphacts.org/1.3/compound?_format=json&app_id=secret_id&app_key=secret_key&uri=http://ops.rsc.org/OPS3
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 11 Nov 2013 07:22:43 GMT
      X-Served-From-Cache:
      - 'false'
      Etag:
      - d977a1b14b207c6fae0738b96d828a43
      X-3scale-Proxy-Secret-Token:
      - Shared_secret_sent_from_proxy_to_API_backend
    body:
      encoding: US-ASCII
      string: ! '{"format":"linked-data-api","version":"1.3","result":{"_about":"https://beta.openphacts.org/compound?uri=http%3A%2F%2Fops.rsc.org%2FOPS3&_format=json&app_id=secret_id&app_key=secret_key","definition":"https://beta.openphacts.org/api-config","extendedMetadataVersion":"https://beta.openphacts.org/compound?uri=http%3A%2F%2Fops.rsc.org%2FOPS3&_format=json&app_id=secret_id&app_key=secret_key&_metadata=all%2Cviews%2Cformats%2Cexecution%2Cbindings%2Csite","primaryTopic":{"_about":"http://ops.rsc.org/OPS3","inDataset":"http://ops.rsc.org","hba":5,"hbd":1,"inchi":"InChI=1S/C18H18Cl2N4O/c1-23-7-5-18(6-8-23)11(9-21)13-10-3-4-12(19)14(20)15(10)24(2)16(13)17(25)22-18/h3-4,11H,5-8H2,1-2H3,(H,22,25)","inchikey":"XGUIMGJMQKZRGM-UHFFFAOYSA-N","logp":2.044,"molformula":"C18H18Cl2N4O","molweight":377.268,"psa":61.06,"ro5_violations":0,"rtb":0,"smiles":"CN1CCC2(CC1)C(C3=C(C(=O)N2)N(C4=C3C=CC(=C4Cl)Cl)C)C#N","exactMatch":["http://ops.rsc.org/OPS3",{"_about":"http://rdf.ebi.ac.uk/resource/chembl/molecule/CHEMBL1945556","mw_freebase":377.27,"inDataset":"http://www.ebi.ac.uk/chembl","type":"http://rdf.ebi.ac.uk/terms/chembl#SmallMolecule"},{"_about":"http://www.conceptwiki.org/concept/3ab638be-f601-4ad7-875f-c954ad76a826","inDataset":"http://www.conceptwiki.org","prefLabel_en":"7,8-Dichloro-1'',9-dimethyl-1-oxo-1,2,4,9-tetrahydrospiro[beta-carboline-3,4''-piperidine]-4-carbonitrile","prefLabel":"7,8-Dichloro-1'',9-dimethyl-1-oxo-1,2,4,9-tetrahydrospiro[beta-carboline-3,4''-piperidine]-4-carbonitrile"}],"isPrimaryTopicOf":"https://beta.openphacts.org/compound?uri=http%3A%2F%2Fops.rsc.org%2FOPS3&_format=json&app_id=secret_id&app_key=secret_key"}}}'
  recorded_at: Mon, 11 Nov 2013 07:30:37 GMT
recorded_with: VCR 2.2.5
