---
http_interactions:
- request:
    method: get
    uri: https://xxxxxx.openphacts.org/compound?_format=json&app_id=secret_id&app_key=secret_key&uri=http://rdf.chemspider.com/3
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 15 Apr 2013 10:04:36 GMT
      Etag:
      - fec88981baebaed81dfa3137f87af2d4
      X-Served-From-Cache:
      - 'true'
      X-3scale-Proxy-Secret-Token:
      - Shared_secret_sent_from_proxy_to_API_backend
    body:
      encoding: US-ASCII
      string: ! '{"format":"linked-data-api","version":"0.2","result":{"_about":"http://xxxxxx.openphacts.org/compound?uri=http%3A%2F%2Frdf.chemspider.com%2F3&_format=json&app_id=secret_id&app_key=secret_key","definition":"http://xxxxxx.openphacts.org/api-config","extendedMetadataVersion":"http://xxxxxx.openphacts.org/compound?uri=http%3A%2F%2Frdf.chemspider.com%2F3&_format=json&app_id=secret_id&app_key=secret_key&_metadata=all%2Cviews%2Cformats%2Cexecution%2Cbindings%2Csite","primaryTopic":{"_about":"http://rdf.chemspider.com/3","inchi":"InChI=1S/C3H9NO/c1-3(5)2-4/h3,5H,2,4H2,1H3","inchikey":"HXKKHQJGJAFBHI-UHFFFAOYSA-N","smiles":"OC(C)CN","inDataset":"http://www.chemspider.com","hba":2,"hbd":3,"logp":-1.127,"psa":4.625e-18,"ro5_violations":0,"exactMatch":[{"_about":"http://www.conceptwiki.org/concept/c99deece-3cd6-49c7-991f-b0efb51ddc80","inDataset":"http://www.conceptwiki.org","prefLabel_en":"1-Aminopropan-2-ol","prefLabel":"1-Aminopropan-2-ol"},"http://rdf.chemspider.com/3",{"_about":"http://data.kasabi.com/dataset/chembl-rdf/chemblid/CHEMBL326602","full_mwt":75.1096,"molform":"C3H9NO","mw_freebase":75.1096,"rtb":1,"inDataset":"http://data.kasabi.com/dataset/chembl-rdf"}],"isPrimaryTopicOf":"http://xxxxxx.openphacts.org/compound?uri=http%3A%2F%2Frdf.chemspider.com%2F3&_format=json&app_id=secret_id&app_key=secret_key"}}}'
  recorded_at: Mon, 15 Apr 2013 12:27:02 GMT
recorded_with: VCR 2.2.5
