---
http_interactions:
- request:
    method: get
    uri: https://beta.openphacts.org/compound/pharmacology/count?_format=json&app_id=secret_id&app_key=secret_key&uri=http://unknown.com/1111
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 29 Aug 2013 11:15:40 GMT
      Etag:
      - 793d4cb2f96614a91b8838a2a9bab3d1
      X-Served-From-Cache:
      - 'true'
      X-3scale-Proxy-Secret-Token:
      - Shared_secret_sent_from_proxy_to_API_backend
    body:
      encoding: US-ASCII
      string: ! '{"format":"linked-data-api","version":"0.2","result":{"_about":"https://beta.openphacts.org/compound/pharmacology/count?uri=http%3A%2F%2Funknown.com%2F1111&_format=json&app_id=secret_id&app_key=secret_key","definition":"https://beta.openphacts.org/api-config","extendedMetadataVersion":"https://beta.openphacts.org/compound/pharmacology/count?uri=http%3A%2F%2Funknown.com%2F1111&_format=json&app_id=secret_id&app_key=secret_key&_metadata=all%2Cviews%2Cformats%2Cexecution%2Cbindings%2Csite","primaryTopic":{"_about":"http://unknown.com/1111","compoundPharmacologyTotalResults":0,"isPrimaryTopicOf":"https://beta.openphacts.org/compound/pharmacology/count?uri=http%3A%2F%2Funknown.com%2F1111&_format=json&app_id=secret_id&app_key=secret_key"}}}'
  recorded_at: Thu, 29 Aug 2013 12:18:41 GMT
recorded_with: VCR 2.2.5
