---
http_interactions:
- request:
    method: get
    uri: https://beta.openphacts.org/1.3/compound/pharmacology/count?_format=json&app_id=secret_id&app_key=secret_key&uri=http://ops.rsc.org/OPS3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 26 Mar 2014 08:11:21 GMT
      X-Served-From-Cache:
      - 'false'
      Etag:
      - 3ee3d48b8bde3e5339348d826829cba8
      X-3scale-Proxy-Secret-Token:
      - Shared_secret_sent_from_proxy_to_API_backend
    body:
      encoding: US-ASCII
      string: ! '{"format":"linked-data-api","version":"1.3","result":{"_about":"https://beta.openphacts.org/1.3/compound/pharmacology/count?uri=http%3A%2F%2Fops.rsc.org%2FOPS3&_format=json&app_id=secret_id&app_key=secret_key","definition":"https://beta.openphacts.org/api-config","extendedMetadataVersion":"https://beta.openphacts.org/1.3/compound/pharmacology/count?uri=http%3A%2F%2Fops.rsc.org%2FOPS3&_format=json&app_id=secret_id&app_key=secret_key&_metadata=all%2Cviews%2Cformats%2Cexecution%2Cbindings%2Csite","primaryTopic":{"_about":"http://ops.rsc.org/OPS3","compoundPharmacologyTotalResults":59,"isPrimaryTopicOf":"https://beta.openphacts.org/1.3/compound/pharmacology/count?uri=http%3A%2F%2Fops.rsc.org%2FOPS3&_format=json&app_id=secret_id&app_key=secret_key"}}}'
  recorded_at: Wed, 26 Mar 2014 08:11:22 GMT
recorded_with: VCR 2.8.0
