---
http_interactions:
- request:
    method: get
    uri: https://beta.openphacts.org/1.3/structure?_format=json&app_id=secret_id&app_key=secret_key&smiles=CC(=O)Oc1ccccc1C(=O)O
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 26 Mar 2014 08:11:32 GMT
      X-Served-From-Cache:
      - 'false'
      Etag:
      - e70f900bad7342927eab80553fa1dc76
      X-3scale-Proxy-Secret-Token:
      - Shared_secret_sent_from_proxy_to_API_backend
    body:
      encoding: US-ASCII
      string: ! '{"format":"linked-data-api","version":"1.3","result":{"_about":"https://beta.openphacts.org/1.3/structure?smiles=CC%28%3DO%29Oc1ccccc1C%28%3DO%29O&_format=json&app_id=secret_id&app_key=secret_key","definition":"https://beta.openphacts.org/api-config","extendedMetadataVersion":"https://beta.openphacts.org/1.3/structure?smiles=CC%28%3DO%29Oc1ccccc1C%28%3DO%29O&_format=json&app_id=secret_id&app_key=secret_key&_metadata=all%2Cviews%2Cformats%2Cexecution%2Cbindings%2Csite","primaryTopic":{"_about":"http://ops.rsc.org/OPS403534","smiles":"CC(=O)Oc1ccccc1C(=O)O","isPrimaryTopicOf":"https://beta.openphacts.org/1.3/structure?smiles=CC%28%3DO%29Oc1ccccc1C%28%3DO%29O&_format=json&app_id=secret_id&app_key=secret_key"}}}'
  recorded_at: Wed, 26 Mar 2014 08:11:33 GMT
recorded_with: VCR 2.8.0
