---
http_interactions:
- request:
    method: get
    uri: https://beta.openphacts.org/1.4/structure?_format=json&app_id=secret_id&app_key=secret_key&smiles=CC(=O)Oc1ccccc1C(=O)O
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 30 Jun 2014 16:20:16 GMT
      Etag:
      - 015908a0dbd39dfceac64caa80836884
      X-Served-From-Cache:
      - 'true'
      X-3scale-Proxy-Secret-Token:
      - Shared_secret_sent_from_proxy_to_API_backend
    body:
      encoding: US-ASCII
      string: ! '{"format":"linked-data-api","version":"1.4","result":{"_about":"https://beta.openphacts.org/1.4/structure?_format=json&app_id=1c22cbe7&app_key=167a3a3d8539b5d85280e7178f4e62ab&smiles=CC(%3DO)Oc1ccccc1C(%3DO)O","definition":"https://beta.openphacts.org/api-config","extendedMetadataVersion":"https://beta.openphacts.org/1.4/structure?_format=json&app_id=1c22cbe7&app_key=167a3a3d8539b5d85280e7178f4e62ab&smiles=CC(%3DO)Oc1ccccc1C(%3DO)O&_metadata=all%2Cviews%2Cformats%2Cexecution%2Cbindings%2Csite","primaryTopic":{"_about":"http://ops.rsc.org/OPS403534","smiles":"CC(=O)Oc1ccccc1C(=O)O","isPrimaryTopicOf":"https://beta.openphacts.org/1.4/structure?_format=json&app_id=1c22cbe7&app_key=167a3a3d8539b5d85280e7178f4e62ab&smiles=CC(%3DO)Oc1ccccc1C(%3DO)O"}}}'
  recorded_at: Tue, 08 Jul 2014 13:21:02 GMT
recorded_with: VCR 2.9.0
