---
http_interactions:
- request:
    method: get
    uri: https://beta.openphacts.org/structure?_format=json&app_id=secret_id&app_key=secret_key&smiles=CCCC
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 26 Apr 2013 09:48:55 GMT
      Etag:
      - ced24fa03dd28f81a25409af9878a53b
      X-Served-From-Cache:
      - 'true'
      X-3scale-Proxy-Secret-Token:
      - Shared_secret_sent_from_proxy_to_API_backend
    body:
      encoding: US-ASCII
      string: ! '{"format":"linked-data-api","version":"0.2","result":{"_about":"https://beta.openphacts.org/structure?smiles=CCCC&_format=json&app_id=secret_id&app_key=secret_key","definition":"https://beta.openphacts.org/api-config","extendedMetadataVersion":"https://beta.openphacts.org/structure?smiles=CCCC&_format=json&app_id=secret_id&app_key=secret_key&_metadata=all%2Cviews%2Cformats%2Cexecution%2Cbindings%2Csite","primaryTopic":{"_about":"http://rdf.chemspider.com/7555","smiles":"CCCC","isPrimaryTopicOf":"https://beta.openphacts.org/structure?smiles=CCCC&_format=json&app_id=secret_id&app_key=secret_key"}}}'
  recorded_at: Fri, 26 Apr 2013 09:55:52 GMT
recorded_with: VCR 2.2.5
